.like-button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  width: 22px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  background-image: url("../../images/heart-icon.svg");
}

.like-button_active {
  background-image: url("../../images/heart-icon-filled.svg");
}

@media (hover: hover) {
  .like-button:hover {
    opacity: 0.5;
  }
}
