.edit-button {
  padding: 0;
  background: none;
  outline: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color-light);
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 18px;
  transition: opacity 0.2s ease-in-out;
}

@media (hover: hover) {
  .edit-button:hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 767px) {
  .edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
