.save-button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  color: var(--primary-color-light);
  border: none;
  background-color: var(--background-color-dark);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  border-radius: 2px;
}

@media (hover: hover) {
  .save-button:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 880px) {
  .save-button {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
